body{
    background-color: #333;
}
nav{
    border-radius: 30px;
    
}
.home{
    margin-right: 700px;
    top: 0;
    left: 0;
}


nav ul li{
    display: inline-block;
    color : white;
    padding :25px;
    font-size: 20px;
    font-weight: bold;
  
}
nav ul li:hover {
    background-color: rgb(137, 175, 0);
  }
nav ul li a{
    color:rgba(145, 125, 125, 0.5);
    position: relative;
    display: inline-block;
}
li::before{
    color:yellow;
    position: absolute;
    left: 0;
    top: 0%;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 3px solid rgb(236, 199, 130);

}



